// @import '../../node_modules/bulma/sass/utilities/mixins.sass';

body {
  min-height: 800px;
  min-height: 100vh;
  background-color: $light;
}

main {
  position: relative;
  margin-top: 52px;
  padding-bottom: 20px;
}

.section.has-margin-large,
div.has-margin-large {
  margin-top: 150px;
}

div.has-margin {
  margin-top: 3em;
}

.navbar {
  box-shadow: $shadow;
}

.sh-container {
  width: 100%;
}

.pill-wrapper {
  display: block;
  height: 26px;
  position: relative;
  overflow-y: visible;
  overflow-x: auto;
  width: calc(100% + 24px);
}

.pill-childwrapper {
  overflow: auto;
  left: 0;
  position: absolute;
  white-space: nowrap;

  & > * {
    margin-right: 5px;
  }
}

.tag.customised {
  background-color: $colour-brand-muted;
  color: $light;
  letter-spacing: 0.01em;
  font-weight: 500;
  text-transform: uppercase;
}

.card-spacing {
  &.is-regular {
    margin-bottom: 7px;
  }

  &.is-extended {
    margin-bottom: 20px;
  }
}

.hero.has-bg-image {
  background-size: cover;
  background-position: center;
}

.hero.is-large {
  height: 80vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.sheet {
  margin-top: -15vh;
  position: relative;
}

.icon-list {
  & > li {
    margin-bottom: 10px;

    & > a {
      margin-left: 30px;
    }

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      display: inline-block;
      position: absolute;
    }
  }
}

.icon-check::before {
  background-image: url('../icons//check.svg');
}

.icon-phone::before {
  background-image: url('../icons/phone.svg');
}

.icon-mail::before {
  background-image: url('../icons/mail.svg');
}

p,
a.body-colour {
  color: $colour-text-body;
}

p.extended {
  line-height: 1.618em;
}

h1,
h2,
h3,
h4,
h5 {
  hyphens: auto;
}

h1.has-margin,
h2.has-margin,
h3.has-margin,
h4.has-margin,
h5.has-margin,
p.has-margin {
  margin-bottom: 0.5em;
}

div.has-bottom-margin {
  margin-bottom: 3em;
}

.nomargin-last > *:last-child {
  margin-bottom: 0;
}

.hero-icon {
  bottom: -25vh;
  height: auto;
  position: absolute;
  right: 20px;
  width: 50%;
}

hr.seperator {
  background-color: $colour-text-primary;
  height: 6px;
  width: 100px;
}

.button.is-custom {
  color: $colour-text-primary;
}

@include mobile {
  main.no-overflow {
    overflow: hidden;
  }

  .sheet {
    padding: 40px 20px;
    border-radius: 0;
  }

  .sh-container {
    padding: 0 20px;
    position: relative;
  }

  .hero-icon {
    bottom: -20vh;
    // left: 0;
    padding: 0 20px;
    right: 0;
    width: 100%;
    max-width: 400px;
  }

  .hero-text {
    top: 10vh;
  }

  .section.has-margin-large,
  div.has-margin-large {
    margin-top: 100px;
  }

  div.has-margin {
    margin-top: 1em;
  }
}
