.h1 {
  color: $black-ter;
  font-family: $family-secondary;
  font-size: $size-1;
  font-weight: $weight-bold;
  line-height: 1.2em;
}

.h2 {
  color: $grey-darker;
  font-family: $family-secondary;
  font-size: $size-2;
  font-weight: $weight-bold;
  line-height: 1.3em;
}

.h3 {
  color: $grey-dark;
  font-family: $family-secondary;
  font-size: $size-3;
  font-weight: $weight-semibold;
}

.h4 {
  color: $grey;
  font-family: $family-secondary;
  font-size: $size-4;
  font-weight: $weight-medium;
}

.h5 {
  color: $grey-light;
  font-family: $family-secondary;
  font-size: $size-5;
  font-weight: $weight-medium;
}

.anchor {
  text-decoration: none;
}
